#header-menu {
  background-color: #00796B;
  
  padding-left: 8px;
  padding-right: 8px;
}

#username {
  margin-left: 6px;
}

#logo {
  font-family: 'Roboto Mono', monospace;
  color: #fff;
  font-size: 18px;
  margin-right: 24px;
}